<div class="container">
  <div class="boxes">
    <% @questions.each do |question| %>
      <div class="box">
        <%= link_to(question.text, "/questions/#{question.id}", class: "box-text")  %>
        <% if user_signed_in? %>
          <% if current_user.own?(question) %> 
            <%= link_to question_path(question), method: :delete %>
              <%= icon 'far', 'trash-alt' %>
            <%= link_to edit_question_path(question) %>
            <%= icon 'far', 'edit' %>
          <% else %>
            <% if current_user&.like?(question) %>
              <%= link_to like_path(current_user.likes.find_by(question: question)), method: :delete %>
              <%= icon 'fa', 'heart' %>
            <% else %>
              <%= link_to likes_path(question: question), method: :post %>
                <%= icon 'far', 'heart' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="signup-box">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "signup" %>
      <% elsif admin_signed_in? %>
        <%= link_to "ログアウト", destroy_admin_session_path, class: "margin-top" %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path, class: "signup" %>
      <% end %>
    </div>
    
    <div class="question-box">
      <% if user_signed_in? %>
        <%= link_to "質問する", new_question_path, class: "question" %>
      <% end %>
      
    </div>
  </div>
</div>

