<div class="container">
  <div class="boxes">
    <div class="box">
      <h1><%= current_user.nickname %></h1>
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "box-text" %>
      <br>
      <%= link_to "投稿", user_path(current_user.id), class: "box-text" %>
      <%= link_to "いいね", likes_path(current_user.id), class: "box-text" %>
    </div>
    
    <% current_user.likes.order(updated_at: :desc).each do |like| %>
      <div class="box" id="question_<%= like.question.id %>">
        <%= render 'top/top', question: like.question %>
      </div>
    <% end %>
  </div>
</div>