<div class="playlist">
  <h2>Spotify おすすめプレイリスト</h2>
  <% playlists.each do |playlist| %>
      <div class="playlist-box">
        <img src="<%= playlist.images.first["url"]%>" class="pb1">
        <h1 class="pb1-1"><%= playlist.name %></h1>
        <p class="pb2"><%= playlist.tracks.first.name %></p>
        <p class="pb3"><%= playlist.tracks.second.name %></p>
        <p class="pb4"><%= playlist.tracks.third.name %></p>
      </div>
  <% end %>
</div>