<div class="boxes">
    <% if @model == 'user' %>
      <h3>【Usersモデルの検索結果】検索ワード：<%= @text %></h3>
      <% @records.each do |record| %>
        <div class="search-background">
          <%= record.nickname %><br>
        </div>
      <% end %>
    <% else @model == 'question' %>
      <h3>【Questionsモデルの検索結果】検索ワード：<%= @text %></h3>
        <% @records.each do |record| %>
          <div class="box" id="question_<%= record.id %>">
            <%= render 'top/top', question: record %>
          </div>
        <% end %>
    <% end %>
</div>