<div class="boxes">
    <% if @model == 'user' %>
      <h3>【Usersモデルの検索結果】検索ワード：<%= @text %></h3>
      <% @records.each do |record| %>
        <div class="search-background">
          <div style="display: flex">
            <% if record.avatar.url %>
              <%= link_to image_tag(record.avatar.url), user_path(record.id), class: "search-image" %>
            <% else %>
              <%= link_to image_tag("/no-profile.png"), user_path(record.id), class: "search-image" %>
            <% end %>
            <p><%= record.nickname %></p>
          </div>
        </div>
      <% end %>
    <% else @model == 'question' %>
      <h3>【Questionsモデルの検索結果】検索ワード：<%= @text %></h3>
        <% @records.each do |record| %>
          <div class="box" id="question_<%= record.id %>">
            <%= render 'top/top', question: record %>
          </div>
        <% end %>
    <% end %>
</div>