<div class="boxes">
    <% if @model == 'user' %>
      <h3>【Userの検索結果】検索ワード：<%= @text %></h3>
        <% @records.each do |record| %>
          <div class="search-background">
            <div style="display: flex">
              <% if record.avatar.url %>
                <%= link_to image_tag(record.avatar.url), user_path(record.id), class: "search-image" %>
              <% else %>
                <%= link_to image_tag("/no-profile.png"), user_path(record.id), class: "search-image" %>
              <% end %>
              <p><%= record.nickname %></p>
            </div>
          </div>
        <% end %>
    <% else @model == 'question' %>
      <h3>【Questionの検索結果】検索ワード：<%= @text %></h3>
        <% @records.each do |record| %>
          <div class="box" id="question_<%= record.id %>">
            <%= render 'top/top', question: record %>
          </div>
        <% end %>
      <h3>曲名検索結果</h3>
        <% @tracks.each do |track| %>
          <div class="box">
            <h3 class="box1"><%= track.name %></h3>
            <img src="<%= track.album.images.first["url"] %>" class="box3-1">
            <h3 class="box3-2"><%= track.artists[0].name %></h3>
            <iframe src="<%= track.preview_url %>" class="box2" style="width: 150px; height: 58px;">
          </div>
        <% end %>
        <!--<% if @tracks.present? %>-->
        <!--  <% @tracks.each do |music| %>-->
        <!--    <p><%= music.name %></p>-->
        <!--  <% end %>-->
        <!--<% else %>-->
        <!--<h1>ありません</h1>-->
        <!--<% end %>-->
    <% end %>
</div>