<!DOCTYPE html>
<html>
  <head>
    <title>Pcr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
    <header>
    <div class="container">
      <ul class="header-list">
        <li class="header-item">
          <a href="/"><img src="/hakui.png" alt="ç”»åƒãŒã‚ã‚Šã¾ã›ã‚“" ></a>
        </li>
        <li class="header-item">
          <a href="#"><p>ðŸ”Ž</p></a>
        </li>
        <li class="header-item">
          <% if user_signed_in? %>
            <%= link_to image_tag("/no-profile.png"), user_path(current_user.id), class: "margin-top" %>
          <% elsif admin_signed_in? %>
            <%= link_to image_tag("/no-profile.png"), admin_path(current_admin.id), class: "margin-top" %>
          <% else %>
            <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "margin-top" %>
            <%= link_to "ç®¡ç†è€…ãƒ­ã‚°ã‚¤ãƒ³", new_admin_session_path, class: "margin-top" %>
          <% end %>
        </li>
      </ul>
    </div>
    </header>
    
    <%= yield %>
  </body>
</html>
