<!DOCTYPE html>
<html>
  
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Opc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
    <header>
      <%= render 'commons/header' %>
    </header>
    
    <div class="content">
      <div class="left">
        <%= render 'commons/left', playlists: RSpotify::Playlist.search('はげまして', limit: 5) %>
      </div>
      <div class="right">
        <%= render 'commons/right', users: User.all.first(5) %>
      </div>
      <!--// 子要素でyieldを真ん中にするとページによってレイアウト崩れるため-->
      <div class="center">
        <%= yield %>
      </div>
    </div>
    
  </body>
  
</html>
